@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

code {
  font-size: 1.2em;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

li {
  font-size: 2rem;
  padding: 0 2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  width: 100%;
  border-bottom: 1px solid rgb(1, 15, 30);
}
li:hover {
  background-color: #010f1c;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.back_drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  /* z-index: 10;  //optional */
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgb(105, 105, 105);
}
.stop {
  background-color: red;
}
.ready {
  background-color: yellow;
}
.go {
  background-color: green;
}

.time {
  font-size: 1.5rem;
}

.toast {
  position: absolute;
  color: white;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  width: max-content;
  transition: all 0.4s ease-in-out;
}

.success {
  background-color: green;
}
.success::before {
  content: "\2713";
  margin-right: 10px;
}

.error {
  background-color: red;
}
.error::before {
  content: "!";
  margin-right: 10px;
}

.info {
  background-color: rgb(88, 87, 28);
}
.info::before {
  content: "\24D8";
  margin-right: 10px;
  margin-right: 10px;
}

.normal {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.warning {
  background-color: rgb(146, 51, 27);
}
.warning::before {
  margin-right: 10px;
  content: "\26A0";
}
